<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>
            Vue.JS-Test
        </title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    </head>
    <body>
        <div id="vue-app">
            <!-- v-model ค่าจะเปลี่ยนไปตามที่ใส่ -->
            Name : <input type="text" v-model="name">
            Color Fav : 
            <input type="checkbox" value="red" v-model="colors">
            <label>red</label>
            <input type="checkbox" value="green" v-model="colors">
            <label>green</label>
            <input type="checkbox" value="blue" v-model="colors">
            <label>blue</label>
            <br>

            Gender :
            <br>
            <input type="radio" value="Male" v-model="gender">
            <label>Male</label>
            <br>
            <input type="radio" value="Female" v-model="gender">
            <label>Female</label>
            <br>

            <hr>
            <h1>Name : {{name}}</h1>
            <h1>Job : {{job}}</h1>
            <h1>Age : {{age}}</h1>
            <h1>Website : <a v-bind:href="website">link here...</a></h1>
            <h1>Color : {{colors}}</h1>
            <h1>Gender : {{gender}}</h1>

             <!-- Note1 -->
            <!-- การใช้งาน v-bind คือการผูกค่าตัวแปรของ vue app กับ attribute ของ tag html ต่างๆ โดยสามารถเป็น tag อะไรก็ได้ -->
            <!-- <input type="text" name="" v-bind:value="name"> 
            <input type="text" name="" v-bind:value="job"></br></br>  -->

            <!-- การใส่ event บนคีย์บอร์ด -->
            <!-- <input type="text" v-on:keyup.enter="addCount">
            <h1>Count : {{count}}</h1> -->

            <!-- v-on:click เป็นEvent click ของ Vue  -->
            <!-- <button type="button" v-on:click="addAge">Add</button>
            <button type="button" v-on:click="SubtractAge">Subtract</button> -->

            
        </div>
        <script src="app.js" charset="utf-8"></script>
    </body>

</html>